extends layout

block content
  h1 Title: #{title}

  h2 #[strong Genre:] #{genre.name}
  div(style='margin-left:20px;margin-top:20px')
    h3(style='font-size: 1.5rem;') Games in genre 
    if genre_games.length 
      dl 
        each game in genre_games 
          dt
            a(href=game.url) #{game.title}
            |  #{game.description}
    else 
      p This genre has no games

  p
    a(href=genre.url+'/delete') Delete Genre
  p
    a(href=genre.url+'/update') Update Genre